@page "/dictionary/ErrorCriterion"

@using DictionaryManagement_Business.Repository.IRepository;
@using DictionaryManagement_Common;
@using DictionaryManagement_Models.IntDBModels
@using Microsoft.EntityFrameworkCore;


@inject IJSRuntime _jsRuntime
@inject IErrorCriterionRepository _errorCriterionRepository

@inject NavigationManager _navigationManager


<div class="row mt-4">

    <div class="col-6">
        <h4 class="card-title text-primary"><a href="/dictionary">Справочники</a> - <a href="/dictionary/ErrorCriterion">Критерии ошибок</a></h4>

        <div class="col-6">
            <RadzenCheckBox @bind-Value=@checkBoxValue TriState="true" TValue="bool?" Change=@OnArchiveCheckBoxChange Name="ArchiveCheckBox" />
            <RadzenLabel Text=@checkBoxText Component="ArchiveCheckBox" Style="margin-left: 8px; vertical-align: middle;" />
        </div>

    </div>


    @if (IsLoading != true)
    {

        <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle_outline" class="mt-2 mb-4" Text="Добавить новый критерий ошибки" Click="@InsertRow" Disabled=@(errorCriterionDTOToInsert != null || errorCriterionDTOToUpdate != null) />
        <RadzenDataGrid @ref="errorCriterionDTOGrid" AllowAlternatingRows="false" AllowFiltering="true" AllowPaging="true" PageSize="5" AllowSorting="true" AllowMultiColumnSorting="true" EditMode="DataGridEditMode.Single"
                    Data="@errorCriterionDTOs" TItem="ErrorCriterionDTO" RowUpdate="@OnUpdateRow" RowCreate="@OnCreateRow" Sort="@Reset" Page="@Reset" Filter="@Reset" ColumnWidth="200px"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    FilterMode="FilterMode.Simple">
            <Columns>
                <RadzenDataGridColumn TItem="ErrorCriterionDTO" Property="Id" Title="Ид записи" Width="120px" />
                <RadzenDataGridColumn TItem="ErrorCriterionDTO" Property="Name" Title="Наименование">
                    <EditTemplate Context="errorCriterionDTO">
                        <RadzenTextBox @bind-Value="errorCriterionDTO.Name" Style="width:100%; display: block" Name="Name" />
                        <RadzenRequiredValidator Text="Наименование обязателено к заполнению" Component="Name" Popup="true" />
                        <RadzenLengthValidator Max=250 Text="Наименование не может быть больше 250 символов" Component="Name" Popup="true" />
                    </EditTemplate>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn TItem="ErrorCriterionDTO" Property="IsAtchive" Title="Архив" Filterable="false" Width="70px">
                    <Template Context="data">
                        <RadzenCheckBox @bind-Value=data.IsArchive ReadOnly="true" TriState="false" TValue="bool" />
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="ErrorCriterionDTO" Context="errorCriterionDTO" Filterable="true" Sortable="false" TextAlign="TextAlign.Right" Width="156px">
                    <Template Context="errorCriterionDTO">
                        <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => EditRow(errorCriterionDTO))" @onclick:stopPropagation="true">
                        </RadzenButton>
                        @if (!errorCriterionDTO.IsArchive)
                        {
                            <RadzenButton Tooltip="Восстановить из архива" ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(errorCriterionDTO))" @onclick:stopPropagation="true">
                            </RadzenButton>
                        }
                        else
                        {
                            <RadzenButton ButtonStyle="ButtonStyle.Info" Icon="restore_from_trash" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(errorCriterionDTO))" @onclick:stopPropagation="true">
                            </RadzenButton>
                        }
                    </Template>
                    <EditTemplate Context="errorCriterionDTO">
                        <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@((args) => SaveRow(errorCriterionDTO))">
                        </RadzenButton>
                        <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@((args) => CancelEdit(errorCriterionDTO))">
                        </RadzenButton>
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(errorCriterionDTO))">
                        </RadzenButton>
                    </EditTemplate>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    }
    else
    {
        if (IsLoading)
        {
            //отображение gif загрузки
            <div class="text-center">
                <img src="/images/loading.gif">
            </div>

        }
    }

</div>

@code {
    public bool? checkBoxValue = null;
    public string checkBoxText = "Все записи";
    public string DeleteMessage { get; set; } = "";

    RadzenDataGrid<ErrorCriterionDTO> errorCriterionDTOGrid;

    IEnumerable<ErrorCriterionDTO> errorCriterionDTOs;

    ErrorCriterionDTO errorCriterionDTOToInsert;
    ErrorCriterionDTO errorCriterionDTOToUpdate;


    public bool IsLoading { get; set; }

    void OnArchiveCheckBoxChange()
    {
        if (checkBoxValue == false)
        {
            checkBoxValue = null;
            checkBoxText = "Только архивные";

            IsLoading = true;
            StateHasChanged();
            errorCriterionDTOs = _errorCriterionRepository.GetAll(SD.SelectDictionaryScope.ArchiveOnly).Result;
            IsLoading = false;
            StateHasChanged();
            return;
        }
        if (checkBoxValue == null)
        {
            checkBoxValue = true;
            checkBoxText = "Только активные";

            IsLoading = true;
            StateHasChanged();
            errorCriterionDTOs = _errorCriterionRepository.GetAll(SD.SelectDictionaryScope.NotArchiveOnly).Result;
            IsLoading = false;
            StateHasChanged();
            return;

        }

        if (checkBoxValue == true)
        {
            checkBoxValue = false;
            checkBoxText = "Все записи";

            IsLoading = true;
            StateHasChanged();
            errorCriterionDTOs = _errorCriterionRepository.GetAll(SD.SelectDictionaryScope.All).Result;
            IsLoading = false;
            StateHasChanged();
            return;
        }
    }

    void Reset()
    {
        errorCriterionDTOToInsert = null;
        errorCriterionDTOToUpdate = null;
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
            checkBoxValue = false;
            checkBoxText = "Все записи";

            IsLoading = true;
            StateHasChanged();
            errorCriterionDTOs = _errorCriterionRepository.GetAll(SD.SelectDictionaryScope.All).Result;
            IsLoading = false;
            StateHasChanged();
        }
    }

    async Task EditRow(ErrorCriterionDTO errorCriterionDTO)
    {
        errorCriterionDTOToUpdate = errorCriterionDTO;
        await errorCriterionDTOGrid.EditRow(errorCriterionDTO);
    }

    async Task OnUpdateRow(ErrorCriterionDTO errorCriterionDTO)
    {

        if (errorCriterionDTO == errorCriterionDTOToInsert)
        {
            errorCriterionDTOToInsert = null;
        }

        errorCriterionDTOToUpdate = null;

        await _errorCriterionRepository.Update(errorCriterionDTO, SD.UpdateMode.Update);
    }

    async Task SaveRow(ErrorCriterionDTO errorCriterionDTO)
    {
        await errorCriterionDTOGrid.UpdateRow(errorCriterionDTO);
    }

    void CancelEdit(ErrorCriterionDTO errorCriterionDTO)
    {
        if (errorCriterionDTO == errorCriterionDTOToInsert)
        {
            errorCriterionDTOToInsert = null;
        }

        errorCriterionDTOToUpdate = null;

        errorCriterionDTOGrid.CancelEditRow(errorCriterionDTO);

    }

    async Task DeleteRow(ErrorCriterionDTO errorCriterionDTO)
    {
        if (errorCriterionDTO == errorCriterionDTOToInsert)
        {
            errorCriterionDTOToInsert = null;
        }

        if (errorCriterionDTO == errorCriterionDTOToUpdate)
        {
            errorCriterionDTOToUpdate = null;
        }

        if (errorCriterionDTOs.Contains(errorCriterionDTO))
        {
            if (errorCriterionDTO.IsArchive)
            {
                await _errorCriterionRepository.Update(errorCriterionDTO, SD.UpdateMode.RestoreFromArchive);
                errorCriterionDTO.IsArchive = false;
                await _jsRuntime.ToastrSuccess("Ед. изм. " + errorCriterionDTO.Name + " восстановлена из архива");
            }
            else
            {
                await _errorCriterionRepository.Update(errorCriterionDTO, SD.UpdateMode.MoveToArchive);
                errorCriterionDTO.IsArchive = true;
                await _jsRuntime.ToastrSuccess("Ед. изм. " + errorCriterionDTO.Name + " удалена в архив");
            }
            await errorCriterionDTOGrid.UpdateRow(errorCriterionDTO);
            //await sapEquipmentDTOGrid.Reload();
        }
        else
        {
            errorCriterionDTOGrid.CancelEditRow(errorCriterionDTO);
            await errorCriterionDTOGrid.Reload();
        }
    }

    async Task InsertRow()
    {
        errorCriterionDTOToInsert = new ErrorCriterionDTO();
        await errorCriterionDTOGrid.InsertRow(errorCriterionDTOToInsert);
    }

    async Task OnCreateRow(ErrorCriterionDTO errorCriterionDTO)
    {

        var newDTO = await _errorCriterionRepository.Create(errorCriterionDTOToInsert);

        //errorCriterionDTOToInsert.Id = newDTO.Id;
        //await errorCriterionDTOGrid.UpdateRow(errorCriterionDTOToInsert);

        errorCriterionDTOToInsert = null;
        await OnAfterRenderAsync(true);

    }
}

