@page "/tags/MesParam"
@attribute [Authorize]


@using DictionaryManagement_Business.Repository.IRepository;
@using DictionaryManagement_DataAccess.Data.IntDB;
@using DictionaryManagement_Models.IntDBModels
@using Microsoft.EntityFrameworkCore;
@using System.Text.Json;
@using System.Linq.Dynamic.Core
@inject ISimpleExcelExportRepository _simpleExcelExportRepository


@inject IJSRuntime _jsRuntime
@inject IMesParamRepository _mesParamRepository

@inject DialogService _dialogService



@if (IsAdmin == true)
{
    <_Dialogs @ref="_dialogs"></_Dialogs>



    <div class="row">

        <div class="col-6">
            <h6 class="card-title text-primary"><a href="/tags">Тэги</a> - <a href="/tags/MesParam">Тэги СИР</a></h6>
        </div>


        @if (IsLoading != true)
        {

            @*<div style="word-wrap: normal">*@
            <RadzenRow AlignItems="AlignItems.Start">
                <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle_outline" class="mt-2 mb-4" Text="Добавить новый тэг СИР" Click="@(args => EditRow(null, SD.EditMode.Create))" />
                <RadzenButton @ref="xlxButton" class="mt-2 mb-4" title="Простой экспорт в Excel с учётом применённых фильтров и упорядочивания" Text="Экспорт в Excel" Icon="grid_on" Click="@(args => ExcelExport())" IsBusy=@excelExportFlag BusyText="Выполняется ..." />
            </RadzenRow>
            <RadzenDataGrid @bind-Settings="@MesParamGridSettings" @ref="mesParamDTOGrid" AllowAlternatingRows="true" AllowFiltering="true" AllowSorting="true" AllowMultiColumnSorting="true" EditMode="DataGridEditMode.Single"
                            Data="@mesParamDTOs" TItem="MesParamDTO"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            FilterMode="FilterMode.Simple"
                            Density=Density.Compact                            
                            EmptyText="Нет записей для отображения"
                            AllowColumnResize="false"
                            AllowVirtualization="true"                            
                            GridLines="DataGridGridLines.Both"
                            Style="height:745px">


                <Columns>
                    <RadzenDataGridColumn TItem="MesParamDTO" Property="Id" Title="Ид записи" Width="40px">
                    </RadzenDataGridColumn>


                    <RadzenDataGridColumn TItem="MesParamDTO" Property="Code" Title="Код тэга СИР" Width="80px">
                        <Template Context="data1">
                            <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                @data1.Code
                            </div>
                        </Template>

                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="MesParamDTO" Property="Name" Title="Наименование" Width="80px">
                        <Template Context="data1">
                            <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                <strong>
                                    @data1.Name
                                </strong>
                            </div>
                        </Template>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="MesParamDTO" Property="MesParamSourceTypeDTOFK" Title="Источник" Width="50px" FilterProperty="MesParamSourceTypeDTOFK.ToStringValue" SortProperty="MesParamSourceTypeDTOFK.ToStringValue">
                        <Template Context="data1">
                            <div style="white-space:pre-wrap">
                                <strong>
                                    @(data1.MesParamSourceTypeDTOFK == null ? "" : data1.MesParamSourceTypeDTOFK.ToStringValue)
                                </strong>
                            </div>
                        </Template>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="MesParamDTO" Property="MesParamSourceLink" Title="Тэг источника" Width="60px">
                        <Template Context="data1">
                            <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                @data1.MesParamSourceLink
                            </div>
                        </Template>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="MesParamDTO" Property="MesDepartmentDTOFK" Title="Производство" Width="80px" FilterProperty="MesDepartmentDTOFK.ToStringShortName" SortProperty="MesDepartmentDTOFK.ToStringShortName">
                        <Template Context="data1">
                            <div style="white-space:pre-line; word-wrap: break-word; font-size: 12px">
                                @(data1.MesDepartmentDTOFK == null ? "" : data1.MesDepartmentDTOFK.ToStringShortName)
                            </div>
                        </Template>
                    </RadzenDataGridColumn>


                    <RadzenDataGridColumn TItem="MesParamDTO" Property="SapEquipmentSourceDTOFK" Title="SAP источник" Width="90px" FilterProperty="SapEquipmentSourceDTOFK.ToStringErpPlantIdErpIdName" SortProperty="SapEquipmentSourceDTOFK.ToStringErpPlantIdErpIdName">
                        <Template Context="data1">
                            <div style="white-space:pre-wrap; font-size: 12px">
                                @(data1.SapEquipmentSourceDTOFK == null ? "" : data1.SapEquipmentSourceDTOFK.ToStringErpPlantIdErpIdName)
                            </div>
                        </Template>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="MesParamDTO" Property="SapEquipmentDestDTOFK" Title="SAP приемник" Width="90px" FilterProperty="SapEquipmentDestDTOFK.ToStringErpPlantIdErpIdName" SortProperty="SapEquipmentDestDTOFK.ToStringErpPlantIdErpIdName">
                        <Template Context="data1">
                            <div style="white-space:pre-wrap; font-size: 12px">
                                @(data1.SapEquipmentDestDTOFK == null ? "" : data1.SapEquipmentDestDTOFK.ToStringErpPlantIdErpIdName)
                            </div>
                        </Template>
                    </RadzenDataGridColumn>

                    @*
            @if (SD.AppFactoryMode == SD.FactoryMode.NKNH)
            {
            <RadzenDataGridColumn TItem="MesParamDTO" Property="MesMaterialDTOFK" Title="Материал MES" Width="70px" FilterProperty="MesMaterialDTOFK.ToStringValue" SortProperty="MesMaterialDTOFK.ToStringValue">
            <Template Context="data1">
            <div style="white-space:pre-wrap; font-size: 12px">
            @data1.MesMaterialDTOFK
            </div>
            </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="MesParamDTO" Property="MesUnitOfMeasureDTOFK" Title="Ед.изм MES" Width="60px" FilterProperty="MesUnitOfMeasureDTOFK.ToStringValue" SortProperty="MesUnitOfMeasureDTOFK.ToStringValue">
            <Template Context="data1">
            <div style="white-space:pre-wrap; font-size: 12px">
            @data1.MesUnitOfMeasureDTOFK
            </div>
            </Template>
            </RadzenDataGridColumn>
            }

            @if (SD.AppFactoryMode == SD.FactoryMode.KOS)
            { *@

                    <RadzenDataGridColumn TItem="MesParamDTO" Property="SapMaterialDTOFK" Title="Материал SAP" Width="70px" FilterProperty="SapMaterialDTOFK.ToStringCodeName" SortProperty="SapMaterialDTOFK.ToStringCodeName">
                        <Template Context="data1">
                            <div style="white-space:pre-wrap; font-size: 12px">
                            @(data1.SapMaterialDTOFK == null ? "" : data1.SapMaterialDTOFK.ToStringCodeName)
                            </div>
                        </Template>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="MesParamDTO" Property="SapUnitOfMeasureDTOFK" Title="Ед.изм SAP" Width="60px" FilterProperty="SapUnitOfMeasureDTOFK.ShortName" SortProperty="SapUnitOfMeasureDTOFK.ShortName">
                        <Template Context="data1">
                            <div style="white-space:pre-wrap; font-size: 12px">
                                @(data1.SapUnitOfMeasureDTOFK == null ? "" : data1.SapUnitOfMeasureDTOFK.ShortName)
                            </div>
                        </Template>
                    </RadzenDataGridColumn>


                    @*                     } *@

                    <RadzenDataGridColumn TItem="MesParamDTO" Property="IsNdo" Title="НДО" Filterable="true" Width="35px" TextAlign="TextAlign.Center">
                        <Template Context="data">
                            <RadzenCheckBox @bind-Value=data.IsNdo ReadOnly="true" TriState="false" TValue="bool?" />
                        </Template>
                    </RadzenDataGridColumn>


                    <RadzenDataGridColumn TItem="MesParamDTO" Property="IsArchive" Title="Арх" Filterable="true" Width="30px" TextAlign="TextAlign.Center">
                        <Template Context="data">
                            <RadzenCheckBox @bind-Value=data.IsArchive ReadOnly="true" TriState="false" TValue="bool" />
                        </Template>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="MesParamDTO" Context="mesParamDTO" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Width="70px">
                        <Template Context="mesParamDTO">
                            <RadzenButton title="Создать на основании" Icon="add_box" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => EditRow(mesParamDTO, SD.EditMode.CreateBasedOnRow))" @onclick:stopPropagation="true">
                            </RadzenButton>
                            <RadzenButton title="Редактировать" Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => EditRow(mesParamDTO, SD.EditMode.Edit))" @onclick:stopPropagation="true">
                            </RadzenButton>
                            @if (!mesParamDTO.IsArchive)
                            {
                                <RadzenButton title="Удалить в архив" ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(mesParamDTO))" @onclick:stopPropagation="true">
                                </RadzenButton>
                            }
                            else
                            {
                                <RadzenButton title="Восстановить из архива" ButtonStyle="ButtonStyle.Info" Icon="restore_from_trash" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(mesParamDTO))" @onclick:stopPropagation="true">
                                </RadzenButton>
                            }
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
            @*   </div>*@

        }
        else
        {
            if (IsLoading)
            {
                //отображение gif загрузки
                <div class="text-center">
                    <img src="/images/loading.gif">
                </div>

            }
        }

    </div>

}
@code {

    _Dialogs? _dialogs { get; set; }

    IEnumerable<MesParamDTO>? mesParamDTOs;
    // IEnumerable<MesParamSourceTypeDTO>? mesParamSourceTypeDTOs;

    RadzenDataGrid<MesParamDTO> mesParamDTOGrid;
    RadzenButton xlxButton;

    public bool IsLoading { get; set; }
    public bool IsAdmin { get; set; }
    public bool excelExportFlag { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        //employees = dbContext.Employees.Where(e => e.ReportsTo == null);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (await _authorizationRepository.CurrentUserIsInAdminRole(SD.MessageBoxMode.On))
        {
            IsAdmin = true;
            if (firstRender)
            {
                IsLoading = true;
                //StateHasChanged();
                await LoadStateAsync();
                StateHasChanged();
                mesParamDTOs = await _mesParamRepository.GetAll(SD.SelectDictionaryScope.All);                
                IsLoading = false;
                StateHasChanged();
            }
        }
        else
            _navigationManager.NavigateTo("/tags");

    }


    DataGridSettings _mesParamGridSettings;
    public DataGridSettings MesParamGridSettings
    {
        get
        {
            return _mesParamGridSettings;
        }
        set
        {
            if (_mesParamGridSettings != value)
            {
                _mesParamGridSettings = value;
                InvokeAsync(SaveStateAsync);
            }
        }
    }

    private async Task LoadStateAsync()
    {
        await Task.CompletedTask;

        var result = await _jsRuntime.InvokeAsync<string>("window.localStorage.getItem", "MesParamGridSettings");
        if (!string.IsNullOrEmpty(result))
        {
            _mesParamGridSettings = JsonSerializer.Deserialize<DataGridSettings>(result);
        }
    }

    private async Task SaveStateAsync()
    {
        await Task.CompletedTask;

        await _jsRuntime.InvokeVoidAsync("eval", $@"window.localStorage.setItem('MesParamGridSettings', '{JsonSerializer.Serialize<DataGridSettings>(MesParamGridSettings)}')");
    }

    async Task EditRow(MesParamDTO mesParamDTO, SD.EditMode modePar)
    {
        //mesMaterialDTOToUpdate = mesMaterialDTO;
        //await mesMaterialDTOGrid.EditRow(mesMaterialDTO);
        if (await _authorizationRepository.CurrentUserIsInAdminRole(SD.MessageBoxMode.On))
        {
            IsLoading = true;

            MesParamDTO dialogResult;

            switch (modePar)
            {
                case SD.EditMode.Create:
                    IsLoading = false;
                    dialogResult = await _dialogService.OpenAsync<AddEditMesParam>("Создать тэг СИР", new Dictionary<string, object>() { { "MesParamId", 0 }, { "Mode", modePar } }, new DialogOptions() { Width = $"{1400}px", Left = $"{100}px" });
                    break;
                case SD.EditMode.Edit:
                    IsLoading = false;
                    dialogResult = await _dialogService.OpenAsync<AddEditMesParam>("Изменить тэг СИР", new Dictionary<string, object>() { { "MesParamId", mesParamDTO.Id }, { "Mode", modePar } }, new DialogOptions() { Width = $"{1400}px", Left = $"{100}px" });
                    break;
                case SD.EditMode.CreateBasedOnRow:
                    IsLoading = false;
                    dialogResult = await _dialogService.OpenAsync<AddEditMesParam>("Создать тэг СИР на основании", new Dictionary<string, object>() { { "MesParamId", mesParamDTO.Id }, { "Mode", modePar } }, new DialogOptions() { Width = $"{1400}px", Left = $"{100}px" });
                    break;
                default:
                    IsLoading = false;
                    dialogResult = await _dialogService.OpenAsync<AddEditMesParam>("Создать тэг СИР", new Dictionary<string, object>() { { "MesParamId", 0 }, { "Mode", SD.EditMode.Create } }, new DialogOptions() { Width = $"{1400}px", Left = $"{100}px" });
                    break;
            }


            if (dialogResult != null)
            {

                if ((modePar == SD.EditMode.Create || modePar == SD.EditMode.CreateBasedOnRow) && (modePar != SD.EditMode.Edit))
                {
                    IsLoading = true;
                    await LoadStateAsync();
                    StateHasChanged();
                    mesParamDTOs = await _mesParamRepository.GetAll(SD.SelectDictionaryScope.All);
                    IsLoading = false;
                    StateHasChanged();
                    IsLoading = false;
                }
                else
                {
                    mesParamDTO.Code = dialogResult.Code;
                    mesParamDTO.Name = dialogResult.Name;
                    mesParamDTO.Description = dialogResult.Description;
                    mesParamDTO.MesParamSourceType = dialogResult.MesParamSourceType;
                    mesParamDTO.MesParamSourceTypeDTOFK = dialogResult.MesParamSourceTypeDTOFK;
                    mesParamDTO.MesParamSourceLink = dialogResult.MesParamSourceLink;
                    mesParamDTO.DepartmentId = dialogResult.DepartmentId;
                    mesParamDTO.MesDepartmentDTOFK = dialogResult.MesDepartmentDTOFK;
                    mesParamDTO.SapEquipmentIdSource = dialogResult.SapEquipmentIdSource;
                    mesParamDTO.SapEquipmentSourceDTOFK = dialogResult.SapEquipmentSourceDTOFK;
                    mesParamDTO.SapEquipmentIdDest = dialogResult.SapEquipmentIdDest;
                    mesParamDTO.SapEquipmentDestDTOFK = dialogResult.SapEquipmentDestDTOFK;
                    mesParamDTO.MesMaterialId = dialogResult.MesMaterialId;
                    mesParamDTO.MesMaterialDTOFK = dialogResult.MesMaterialDTOFK;
                    mesParamDTO.SapMaterialId = dialogResult.SapMaterialId;
                    mesParamDTO.SapMaterialDTOFK = dialogResult.SapMaterialDTOFK;
                    mesParamDTO.MesUnitOfMeasureId = dialogResult.MesUnitOfMeasureId;
                    mesParamDTO.MesUnitOfMeasureDTOFK = dialogResult.MesUnitOfMeasureDTOFK;
                    mesParamDTO.SapUnitOfMeasureId = dialogResult.SapUnitOfMeasureId;
                    mesParamDTO.SapUnitOfMeasureDTOFK = dialogResult.SapUnitOfMeasureDTOFK;
                    mesParamDTO.DaysRequestInPast = dialogResult.DaysRequestInPast;
                    mesParamDTO.TI = dialogResult.TI;
                    mesParamDTO.NameTI = dialogResult.NameTI;
                    mesParamDTO.MesToSirUnitOfMeasureKoef = dialogResult.MesToSirUnitOfMeasureKoef;
                    mesParamDTO.NeedWriteToSap = dialogResult.NeedWriteToSap;
                    mesParamDTO.NeedReadFromSap = dialogResult.NeedReadFromSap;
                    mesParamDTO.NeedReadFromMes = dialogResult.NeedReadFromMes;
                    mesParamDTO.NeedWriteToMes = dialogResult.NeedWriteToMes;
                    mesParamDTO.IsNdo = dialogResult.IsNdo;

                    await mesParamDTOGrid.UpdateRow(mesParamDTO);
                }
            }
            IsLoading = false;
        }

    }


    async Task DeleteRow(MesParamDTO mesParamDTO)
    {

        if (await _authorizationRepository.CurrentUserIsInAdminRole(SD.MessageBoxMode.On))
        {
            if (_dialogs != null)
            {
                if (mesParamDTO.IsArchive != true)
                {
                    bool selectionResult = await _dialogs.ShowYesOrNoDialogBox("Удаление тэга СИР", "Удалить тэг \"" + mesParamDTO.Code + "\" в архив ?", "Удалить", "Отмена");
                    if (selectionResult == false)
                    {
                        await _jsRuntime.ToastrSuccess("Отмена удаления");
                        return;
                    }
                }
                else
                {
                    bool selectionResult = await _dialogs.ShowYesOrNoDialogBox("Восстановление тэга СИР", "Восстановить тэг СИР \"" + mesParamDTO.Code + "\" из архива ?", "Восстановить", "Отмена");
                    if (selectionResult == false)
                    {
                        await _jsRuntime.ToastrSuccess("Отмена восстановления");
                        return;
                    }
                }
            }

            if (mesParamDTO.IsArchive)
            {
                await _mesParamRepository.Delete(mesParamDTO.Id, SD.UpdateMode.RestoreFromArchive);
                mesParamDTO.IsArchive = false;
                await _jsRuntime.ToastrSuccess("Тэг СИР \"" + mesParamDTO.Name + "\" восстановлен из архива");
            }
            else
            {
                await _mesParamRepository.Delete(mesParamDTO.Id, SD.UpdateMode.MoveToArchive);
                mesParamDTO.IsArchive = true;
                await _jsRuntime.ToastrSuccess("Тэг СИР \"" + mesParamDTO.Name + "\" удалён в архив");
            }
            await mesParamDTOGrid.UpdateRow(mesParamDTO);
        }
    }

    async Task ExcelExport()
    {
        excelExportFlag = true;
        await Task.Delay(200);
        await InvokeAsync(StateHasChanged);
        if (await _authorizationRepository.CurrentUserIsInAdminRole(SD.MessageBoxMode.On))
        {
            string userLogin = await _authorizationRepository.GetCurrentUser(SD.MessageBoxMode.Off, SD.LoginReturnMode.LoginOnly);
            string filename = "Tags_MesParam_Export_" + userLogin.Replace("\\", "_") + "_" + DateTime.Now.ToString().Replace(":", "_") + ".xlsx";
            await _simpleExcelExportRepository.GenerateExcelMesParam(filename, (IEnumerable<MesParamDTO>)mesParamDTOGrid.View);
            await _jsRuntime.InvokeVoidAsync("open", "DownloadFileController/SimpleExcelExport/" + filename, "_blank");
        }
        excelExportFlag = false;
        await Task.Delay(200);
        await InvokeAsync(StateHasChanged);
    }


}